body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #005f73;
    color: white;
}

.logo {
   width: 100px;
   height: 80px;
}
.fa-user{
    font-size: 30px;
    padding: 0 50px;
}
.auth-buttons{
    padding-top: 20px;
}
.auth-buttons a {
    color: white;
    text-decoration: none;
}
.auth-buttons p{
    padding: 0 10px;
}

.signin-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; 
    padding: 10px 15px; 
    border: 2px solid rgb(183, 60, 81);
    background-color: #f9f9f9; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.signin-link:hover {
    background-color: rgb(183, 60, 81); 
    color: white; 
}

.signin-link i {
    margin-right: 5px; 
}

.auth-buttons a:hover {
    text-decoration: underline;
}

.intro {
    padding: 15px 30px; 
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 1000px; 
    text-align: left; 
    font-family: 'Georgia', serif;
}

.intro-image {
    width: 120px; 
    border-radius: 20%;
    margin: 0 auto 20px; 
}
.name{
    font-style: italic;
    color: rgb(183, 60, 81);
}
.intro h1, .intro h4 {
    text-align: center; 
    margin: 10px 0; 
}

.intro p {
    line-height: 1.6; 
    margin: 15px 0;
    font-size: 0.87em; 
text-align: justify;
}

.contact-link {
    display: inline-block; 
    padding: 10px 15px; 
    background-color: #005f73; 
    color: white; 
    border: 2px solid #007f83; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.contact-link:hover {
    background-color: #0a9396; 
    border-color: #005f73; 
}



.subscribe {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.subscribe input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.subscribe button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #0a9396;
}


.categories {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.categories button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #94d2bd;
    color: #005f73;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.categories button:hover {
    background-color: #ee9b00;
    color: white;
}


.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.recent-articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}


.recent-article-card {
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.article-date {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.8em;
    color: #555;
}

.recent-article-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recent-article-card h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.recent-article-card p {
    color: #777;
    font-size: 0.9em;
}


.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    background-color: #005f73; 
    color: white;
    position: relative; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
}

.footer-content p {
    margin: 0;
    text-align: center; 
    flex-grow: 1; 
}

.social-icons {
    display: flex;
    margin-left: auto; 
}

.social-icon {
    color: white;
    font-size: 1.5em;
    margin-left: 15px;
    text-decoration: none;
}

.social-icon:hover {
    color: #0a9396; 
}


#articles {
    margin-bottom: 100px;
}